.container {
  display: flex;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 28px;
  padding-left: 16px;
  padding-right: 16px;
}

.block {
  width: 100%;
  height: 124px;
  margin-bottom: 16px;
  border-radius: 30px;
  padding: 24px;
  color: #fcfcfc;
  background-color: black;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.blockTitle {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  margin-bottom: 48px;
  margin-top: 56px;
}

.number {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.background1 {
  background-image: url("./img1.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.background2 {
  background-image: url("./img2.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.background3 {
  background-image: url("./img3.png");
  background-size: cover;
  background-position: center middle;
  background-repeat: no-repeat;
}
