.container {
  background-color: #fffcea;
  width: 100%;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #061c33;
  margin-top: 48px;
  margin-bottom: 40px;
}

.description {
  background-repeat: repeat-y;
  background-position: top;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
  padding: 0 16px 0 16px;
  text-align: justify;
  hyphens: auto;
}

.first-description {
  background-position-x: left;
  background-image: url("./background-patern.png");
}

.secondDescription {
  background-position-x: right;
  background-image: url("./background-patern-2.png");
}

.buttonDetailed {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #b0c8e0;
  display: flex;
  margin-left: 52px;
  align-self: flex-start;
  margin-bottom: 57px;
  text-decoration: underline;
}

.photoSlider {
  height: 282px;
  margin-bottom: 32px;
}

.bullet {
  color: red;
  border-color: red;
}

.cat {
}

.galleryContainer {
  display: flex;
  flex-direction: column;

  row-gap: 24px;
}

.galleryImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.customImageGallery .image-gallery-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.customImageGallery .image-gallery-slide {
  height: 100vh;
}

.image-gallery-content.fullscreen .image-gallery-slide img {
  height: 100vh;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  margin-top: 56px;
  padding: 0 16px;
}

.singleImage {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 32px 0;
}
