.headerbackground {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  padding-top: 4px;
  overflow: hidden;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
  height: 372px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 430px auto;
  z-index: -1;
}

.menuContainer {
  padding: 10px;
  width: 100%;
  background-color: red;
}

.menuItem {
  padding: 8px 16px;
  color: black;
  text-decoration: none;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

}