.container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 56px;
  border: 0px solid black;
  background: rgba(252, 252, 252, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
  overflow: hidden;
  max-width: 430px;
}

.menuButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0;
}

.telegramcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4;
  width: 36px;
  height: 36px;
  background-color: rgba(252, 252, 252, 0.7);
  border-radius: 50%;
  margin-right: 8px;
}

.telegram {
  width: 28px;
  height: 28px;
}

.burgercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: rgba(252, 252, 252, 0.7);
  border-radius: 50%;
  border: 0;
}

.burger {
  width: 24px;
  height: 24px;
}

.closeIcon,
.menuIcon {
  width: 24px;
  height: 24px;
}

.logo {
  width: 84px;
  height: 40px;
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: white;
  height: 40px;
  width: 120px;
  border-radius: 30px;
  padding: 4px;
  box-shadow: 0px 2px 10px 0px rgba(194, 212, 232, 0.8);
}

.button {
  width: 113px;
  height: 32px;
  border: 0px solid white;
  background: hsl(210, 79%, 22%);
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.menuItem {
  font-family: Montserrat;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.menuItem span {
  font-family: Montserrat;
}

.menuItem:visited {
  color: inherit;
}

.menuItem:hover,
.menuItem:active {
  color: inherit;
  text-decoration: none;
}

.menuContainer {
  position: fixed;
  top: 64px;
  width: 100%;
  max-width: 430px;
  background: var(--color-80, rgba(216, 228, 240, 0.8));
  margin: 0 auto;
}

.listContainer {
  background-color: rgba(255, 252, 234, 1);
  margin: 16px;
  border-radius: 0px 30px 30px 30px;
  padding: 24px;
}
