.container {
  padding: 48px 0 0 0;
  background-color: rgba(49, 67, 86, 1);
  background-image: url("./background.png");
  background-position: left;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: -2;
}

.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./pattern.png");
  background-repeat: repeat-y;
  background-position: right;
  z-index: -1;
}
.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #fffcea;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.jar {
  height: 188px;
  position: inherit;
  top: 175px;
  left: 0;
  width: 150px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 191px;
  margin-right: 16px;
}
.headline {
  margin-top: 49px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;

  color: #dff3ff;
  text-align: center;
  margin-bottom: 24px;
}
.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: pre-line;
  color: #fcfcfc;
  text-align: center;
  margin-bottom: 32px;
}
.cta {
  margin-bottom: 48px;
}
.progressBarContainer {
  width: 100%;
  padding: 0 16px;
}

.progressBar {
  position: relative;
  border-radius: 30px;
  height: 16px;
  width: 100%;
  background-color: #fffcea;
  margin-bottom: 8px;
}
.progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: linear-gradient(90deg, #faff1e 0%, #fe8900 49.75%, #00ab1b 100%);
  border-radius: 30px 0 0 30px;
}

.currentProgress {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(90deg, #faff1e 0%, #fe8900 49.75%, #00ab1b 100%);
  background-size: 100% 100%;
}
.progressMask {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--progress-width);
  height: 100%;
  background: #e0e0e0; /* Колір фону контейнера, щоб перекривати градієнт */
  border-radius: 0 30px 30px 0;
}

.SVG {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
}

.progressText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: rgba(252, 252, 252, 1);
  margin-bottom: 36px;
  position: relative;
}

.start {
}

.current {
  position: absolute;
}

.end {
}
